<% provide :title, "Home" %>
<h1><%= t "home" %></h1>
<p>
  <%= t "home_message1" %>
  <%= link_to Settings.ruby_tutotial_link do %>
    <%= t "home_link" %>
  <% end %>
  <%= t "home_message2" %>
</p>
