<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.gravatar_for_size_50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= t "posted" %><%= time_ago_in_words(micropost.created_at) %><%= t "ago" %>
    <% if current_user? micropost.user %>
      <%= link_to t("delete.delete"), micropost, data: {"turbo-method": :delete, turbo_confirm: t("delete.confirm")} %>
    <% end %>
  </span>
</li>
